<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazzingShop</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="category">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="learnblazor">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Learn Blazor
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="\learnrouting\bereke\pate1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Learn Routing
            </a>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="learnadvancerouting?Parametr1=Blazing&Parametr2=Amazing">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Learn Advanced Routing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ParentComponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Parent-Child Component
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
