@page "/ParentComponent"

<h1 class="text-danger">Parent-Child</h1>
<BlazzingShop.Pages.Components.ChildComponent ClickClack="ShowMessage" Title="This title is passes as parametr from Parent">
    This Content is displayed between the child component tag inside parent component.
</BlazzingShop.Pages.Components.ChildComponent>

<p>
    <b>
        @messageText
    </b>
</p>
@code {
    private string messageText;

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazzing text from Parent!";
    }
}
